<!DOCTYPE html>
<html ng-app="weatherApp">
<head>
  <title>Weazero: Boston & New Yourk</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.token = "<%= Settings.token %>";
  </script>
</head>
<body>

<div id="wrap" ui-view autoscroll="false"></div>

<%= javascript_include_tag 'application' %>

</body>
</html>
